.loginFullPage_loginWrapper {
    background-color: #282a35; /* Ganti dengan warna yang diinginkan */
    display: flex;
    justify-content: center;
    width: 100%;
}

.loginLayout_container {
    align-content: center;
    display: grid;
    grid-template-areas:
    "main main"
    "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(max(100vh, 660px)) auto;
    max-width: 1200px;
}

.loginLayout_main {
    grid-area: main;
}

.newLoginPage_container {
    background-color: #282a35;
    display: grid;
    grid-template-areas: "left-panel right-panel";
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 100%;
}

.newLoginPage_left_panel {
    grid-area: left-panel;
}

.leftSide_leftSideContainer {
    align-items: flex-start;
    background-color: #282a35;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: 0 60px 60px;
}

.leftSide_header_logo {
    margin-top: 100px;
}

.leftSide_content {
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 60px;
    padding-bottom: 80px;
    padding-right: 80px;
    width: 100%;
}

.leftSide_title {
    font-size: calc(1vw + 1.5rem);
    margin-bottom: .5rem;
}